<div class="main">
  <div class="header">
    <h3>Primeiro Acesso <br />CityConnect</h3>
    <p>Insira seus dados pessoais</p>
  </div>
  <div class="content">
    <div class="stepper">
      <ol class="stepper-component">
        <li class="step-item" [class.active]="currentStep > stepEnum.PERSONAL_DATA" (click)="currentStep = stepEnum.PERSONAL_DATA">
          <h3 class="step-title">Dados Pessoais</h3>
        </li>
        <li class="step-item" [class.active]="currentStep > stepEnum.CONTACT" (click)="currentStep = stepEnum.CONTACT">
          <h3 class="step-title">Contato</h3>
        </li>
        <li class="step-item" [class.active]="currentStep > stepEnum.ADDRESS" (click)="currentStep = stepEnum.ADDRESS">
          <h3 class="step-title">Endereço</h3>
        </li>
        <li class="step-item" [class.active]="currentStep > stepEnum.CONFIRM_DATA" (click)="currentStep = stepEnum.CONFIRM_DATA">
          <h3 class="step-title">Confirme</h3>
        </li>
      </ol>
    </div>

    <form>
      <div
        class="personal-data-content"
        *ngIf="currentStep === stepEnum.PERSONAL_DATA"
      >
        <div class="row">
          <div class="input-container">
            <input type="text" id="name" class="name" required />
            <label for="name">NOME</label>
          </div>
        </div>
        <div
          class="row"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3.2vw;
          "
        >
          <div class="input-container">
            <input type="text" id="cpf" class="cpf" required />
            <label for="cpf">CPF</label>
          </div>
          <div class="input-container">
            <input type="text" id="birthday" class="birthday" required />
            <label for="birthday">NASCIMENTO</label>
          </div>
        </div>
      </div>
  
      <div class="contact-content" *ngIf="currentStep === stepEnum.CONTACT">
        <div class="row">
          <div class="input-container">
            <input type="email" id="email" class="email" required />
            <label for="email">E-MAIL</label>
          </div>
        </div>
        <div class="row">
          <div class="input-container">
            <input type="number" id="phone" class="phone" required />
            <label for="phone">CELULAR</label>
          </div>
        </div>
      </div>
  
      <div class="address-content" *ngIf="currentStep === stepEnum.ADDRESS">
        <div class="row">
          <div class="input-container">
            <input type="email" id="email" class="email" required />
            <label for="email">Estado</label>
          </div>
        </div>
        <div class="row">
          <div class="input-container">
            <input type="number" id="phone" class="phone" required />
            <label for="phone">Cidade</label>
          </div>
        </div>
      </div>
  
      <div
        class="confirm-data-content"
        *ngIf="currentStep === stepEnum.CONFIRM_DATA"
      >
        <div class="data-list">
          <div class="ion-item">
            <label>Nome:</label>
            <div class="item-container">
              <p>Diego Juan Isaquiel</p>
              <ion-button fill="clear" (click)="currentStep = stepEnum.PERSONAL_DATA">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="ion-item">
            <label>CPF:</label>
            <div class="item-container">
              <p>Diego Juan Isaquiel</p>
              <ion-button fill="clear" (click)="currentStep = stepEnum.PERSONAL_DATA">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="ion-item">
            <label>Nascimento:</label>
            <div class="item-container">
              <p>Diego Juan Isaquiel</p>
              <ion-button fill="clear" (click)="currentStep = stepEnum.PERSONAL_DATA">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="ion-item">
            <label>E-mail:</label>
            <div class="item-container">
              <p>Diego Juan Isaquiel</p>
              <ion-button fill="clear" (click)="currentStep = stepEnum.CONTACT">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="ion-item">
            <label>Celular:</label>
            <div class="item-container">
              <p>Diego Juan Isaquiel</p>
              <ion-button fill="clear" (click)="currentStep = stepEnum.CONTACT">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="ion-item">
            <label>Endereço:</label>
            <div class="item-container">
              <p>Diego Juan Isaquiel</p>
              <ion-button fill="clear" (click)="currentStep = stepEnum.ADDRESS">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="button-container">
    <button (click)="setCurrentStep()">
      {{ currentStep !== stepEnum.CONFIRM_DATA ? "Próximo" : "Confirmar" }}
    </button>
  </div>
</div>
