<div class="main">
  <a routerLink="/main/home" class="home-container" [class.active]="currentPage === pageEnum.HOME" (click)="navigateTo('home')">
    <ion-icon name="home"></ion-icon>
  </a>
  <a routerLink="/main/events" class="events-container" [class.active]="currentPage === pageEnum.EVENTS" (click)="navigateTo('events')">
    <ion-icon name="globe"></ion-icon>
  </a>
  <a id="click-trigger" (click)="showModal()" class="add-report-container" [class.active]="currentPage === pageEnum.ADD_REPORT">
    <ion-icon name="add"></ion-icon>
  </a>
  <a routerLink="/main/ranking" class="ranking-container" [class.active]="currentPage === pageEnum.RANKING" (click)="navigateTo('ranking')">
    <ion-icon name="trophy"></ion-icon>
  </a>
  <a routerLink="/main/profile" class="profile-container" [class.active]="currentPage === pageEnum.PROFILE" (click)="navigateTo('profile')">
    <ion-icon name="person"></ion-icon>
  </a>
</div>

<!-- <ion-popover trigger="click-trigger" triggerAction="click"  side="top" alignment="center">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="navigateTo('add-report')">Criar Ocorrência</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="navigateTo('create-post')">Criar Publicação</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover> -->