<div class="main">
  <a routerLink="/main/home" class="home-container">
    <ion-icon name="home"></ion-icon>
  </a>
  <a routerLink="/main/events" class="events-container">
    <ion-icon name="globe"></ion-icon>
  </a>
  <a routerLink="/main/add-report" class="add-report-container">
    <ion-icon name="add"></ion-icon>
  </a>
  <a routerLink="/main/ranking" class="ranking-container">
    <ion-icon name="trophy"></ion-icon>
  </a>
  <a routerLink="/main/profile" class="profile-container">
    <ion-icon name="person"></ion-icon>
  </a>
</div>
