<div class="main">
  <div class="body-status">
    <div class="body-title">
      <img [src]="'../../../../assets/no-image.svg'" alt="Foto de perfil do autor da publicação">
      <div class="title-name">
        <h4>Brunnnnnnnnnnnnnnnnnnnnnaaaaaaaaaaaaaaaaaaaa Antuneeeeeeeeeeeeeeeeeeeeeessssssss</h4>
        <p>@brunaaaaaaantuneeeeeessssss</p>
      </div>
    </div>

    <div class="line-1">
      <div class="round">
        <ion-icon name="medal-outline"></ion-icon>
        <div class="data">
          <span style=" font-size: 17px;">572</span>
          <span style=" font-size: 12px; color: #748e97; width: 12rem;">Pontos nessa rodada</span>
        </div>
      </div>

      <div class="total-points">
        <ion-icon name="podium-outline"></ion-icon>
        <div class="data">
          <span style=" font-size: 17px;">572</span>
          <span style=" font-size: 12px; color: #748e97; width: 9rem;">Pontos no total</span>
        </div>
      </div>
    </div>

    <div class="line-2">
      <div class="occurrences">
        <ion-icon name="megaphone-outline"></ion-icon>
        <div class="data">
          <span style=" font-size: 17px;">572</span>
          <span style=" font-size: 12px; color: #748e97; width: 12rem;">Pontos no total</span>
        </div>
      </div>

      <div class="teste">
        <ion-icon name="medical-outline"></ion-icon>
        <div class="data">
          <span style=" font-size: 17px;">572</span>
          <span style=" font-size: 12px; color: #748e97; width: 9rem;">Pontos no total</span>
        </div>
      </div>
    </div>
  </div>

  <div class="title-conquest">
    <span>Conquistas</span>
  </div>

  <div class="body-conquest">
    <div class="conquests">
      <div class="enthusiastic">
        <ion-icon name="library-outline"></ion-icon>
        <div class="information">
          <span class="title">Entusiasta</span>
          <span class="sub-title">Bruna já registrou mais de 7 ocorrências</span>
        </div>
      </div>

      <div class="explorer">
        <ion-icon name="moon-outline"></ion-icon>
        <div class="information">
          <span class="title">Explorador</span>
          <span class="sub-title">Bruna já registrou mais de 20 ocorrências</span>
        </div>
      </div>

      <div class="leader">
        <ion-icon name="earth-outline"></ion-icon>
        <div class="information">
          <span class="title">Líder</span>
          <span class="sub-title">Bruna já registrou mais de 10 ocorrências</span>
        </div>
      </div>

      <div class="open">
        <button>Ver mais 11
          <div class="icon">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </button>
      </div>

    </div>
  </div>
</div>