<div class="main">
  <div class="post-container" *ngFor="let post of postList">
    <div class="user-container">
      <div class="image-container">
        <img [src]="'../../../../assets/no-image.svg'" alt="Foto de perfil do autor da publicação">
      </div>
      <div class="username-container">
        <div class="username">
          <h3>{{post.owner}}</h3>
          <p>@ma_teuz03</p>
        </div>
      </div>
    </div>
    <div class="text-container">
      <p>{{post.description}}</p>
    </div>
    <div class="image-container">
      <img [src]="post.imageUrl || '../../../../assets/no-image.svg'">
    </div>
    <div class="options-container">

    </div>
  </div>
</div>