<div class="main">
  <div class="header">
    <img src="../../../assets/icon/logo.svg" alt="Logo - CityConnect">
    <h1>CityConnect</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit!</p>
  </div>
  <div class="input-container">
    <ion-item fill="solid">
      <ion-icon name="mail-open" slot="start"></ion-icon>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" placeholder="Insira seu endereço de e-mail" ></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" placeholder="Insira sua senha" ></ion-input>
    </ion-item>
    <p>Esqueci minha senha.</p>
  </div>
  <div class="button-container">
    <button routerLink="/main/home">Entrar</button>
    <p>Ainda não possui cadastro? <span routerLink="/sign-up">Clique aqui.</span></p>
  </div>
</div>