<div class="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title>Criar Publicação</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="post-container">
      <div class="user-container">
        <div class="image-container">
          <img [src]="'../../../../assets/no-image.svg'" alt="Foto de perfil do autor da publicação">
        </div>
        <div class="username-container">
          <div class="username">
            <h3>Mateus Dias</h3>
            <p>@ma_teuz03</p>
          </div>
        </div>
      </div>
      <div class="text-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta pariatur esse exercitationem aliquid, fugiat officia totam incidunt eligendi repellendus perferendis est provident autem illum neque quas doloremque repudiandae, cum delectus?</p>
      </div>
      <div class="image-container">
        <img [src]="'../../../../assets/no-image.svg'">
      </div>
      <div class="options-container">
        <span>Adicionar a publicação</span>
        <div class="icon-container">
          <ion-icon name="image"></ion-icon>
          <ion-icon name="compass"></ion-icon>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button>Publicar</button>
    </div>
  </ion-content>
</div>