<div class="main">
  <div class="container">
    <div class="container-header">
      <div class="header-title">
        <span>Ranking de Contribuidores</span>
        <span class="title-day">Nos últimos 90 dias</span>
      </div>
    </div>

    <div class="container-body">
      <div class="body-ranking" *ngFor="let ranking of rankingList; let i = index" [attr.data-index]="i">
        <a routerLink="/ranking-people" class="body-item">
          <div class="body-image">
            <div class="body-index">
              <span >{{i + 1}}</span>
            </div>
            <img [src]="'../../../../assets/no-image.svg'" alt="Foto de perfil do usuário">
            <div class="body-username">
              <h4>{{ranking.name}}</h4>
              <p>{{ranking.user}}</p>
            </div>
          </div>
          <div class="points">
            <p>{{ranking.points > 999 ? '+999' : ranking.points}} Pontos</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
