<div class="main">
  <div class="container">
    <div class="container-header">
      <div class="header-title">
        <span>Ranking de Contribuidores</span>

        <span class="title-day">Nos últimos 90 dias</span>
      </div>
      <div class="header-menu">
        <h2>Fazer o menu</h2>

      </div>
    </div>

    <div class="container-body">
      <div class="body-ranking" *ngFor="let ranking of rankingList">
        <a style="color: white;" routerLink="/ranking-people">
        <!-- style="display: flex; margin-left: 3rem; margin-top: 3rem;" -->
          <div class="body-image">
            <div style="display: flex; align-items: center; margin-right: 1rem;">
              <span style="font-size: 14px;">{{ranking.id}}</span>
            </div>
            <img [src]="'../../../../assets/no-image.svg'" alt="Foto de perfil do autor da publicação">
            <div style="display: flex; flex-direction: column; justify-content: center; margin-right: 4rem;">
              <span style=" font-size: 16px;">{{ranking.name}}</span>
              <span style="font-size: 14px; color: #93a0a5;">{{ranking.user}}</span>
            </div>
            
          </div>
          <div class="points" style="display: flex; justify-content: center; margin-top: -4rem; margin-right: 2rem; justify-content: end;">
            <span>{{ranking.points}}</span>
          </div>

        </a>
      </div>
    </div>
  </div>
</div>

<script>
  document.ge
</script>