/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  outline: 0;
}

html {
  font-size: 10px !important;
  font-family: "Ubuntu", sans-serif !important;

  body {
    font-family: unset;
    font-size: unset;
    background-color: var(--background-color);
    color: var(--text-color);

    overflow: auto;

    min-height: unset !important;
    min-width: unset !important;
  }

  min-height: unset !important;
  min-width: unset !important;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.ion-page {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

:root {
  --background-color: #252930;
  --primary-color: #363945;
  --shadow-color: #181B20;
  --secondary-color: #04FFA2;
  --text-color: #FFFFFF;

  --primary-blue: #2196F3;
  --primary-red: #EE5B50;
  --primary-orange: #FAA91C;

  --grey-60: #B9BFC0;
  --grey-70: #676D6D;
  --grey-80: #515351;

  --box-shadow-secondary-color: 0 0 30px #04FFA245;
  --box-shadow-button-disabled: 0 0 30px #B9BFC045;
}

.btn-report-modal-container {
  --border-radius: 0.6rem;

  // background-color: #04FFA2;
  --height: 15vh;
  --width: 40vw;

  @media screen and (max-width: 796px) {
    --width: 50vw;
  }

  &::part(content) {
    margin: 64vh 0 0 0;
    border-radius: 17px;
  }
}

ion-modal>.ion-page {
  background: var(--shadow-color);
  border: 1px solid var(--grey-70);
  border-radius: 1.8vh;
  justify-content: center;
}