<main>
    <div class="header-container">
        <h5>Meu Perfil</h5>
    </div>
    <div class="content-container">
        <div class="image-container">
            <img src="../../../assets/no-image.svg" alt="Imagem de perfil do usuário">
        </div>
        <div class="username-container">
            <div class="title">Bruna Antunes</div>
            <div class="sub-title">
                <p>@brunaantunes</p>
            </div>
        </div>
        <div class="informations-list">
            <div class="info-item">
                <label>Data de Nascimento</label>
                <p>23/07/1960</p>
            </div>
            <div class="info-item">
                <label>CPF</label>
                <p>471.863.918-26</p>
            </div>
            <div class="info-item">
                <label>Celular</label>
                <p>11 99399-4504</p>
            </div>
            <div class="info-item">
                <label>Cidade</label>
                <p>Sorocaba (SP)</p>
            </div>
        </div>
        <div class="invite-friends">
            <button>Convidar Amigos</button>
        </div>
    </div>
</main>