<div class="header">
    <div class="profile">
        <h5>Meu Perfil</h5>
    </div>
    <div class=".icon-container">
        <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div>
        <div class="image-container">
            <img src="../../../assets/no-image.svg" alt="Imagem de perfil do usuário">
          </div>
        <div class="title">Bruna Antunes</div>
        <div class="sub-title">
            <p>@brunaantunes</p>
        </div>
        <div>
            <div class="list">
                <div class="item">
                    <label>Data de Nascimento</label>
                    <div>
                        <p>23/07/1960</p>
                    </div>
                </div>
                <div class="item">
                    <label>CPF</label>
                    <p>471.863.918-26</p>
                </div>
                <div class="item">
                    <label>Celular</label>
                    <p>11 99399-4504</p>
                </div>
                <div class="item">
                    <label>Cidade</label>
                    <p>Sorocaba (SP)</p>
                </div>
            </div>
        </div>
        <div class="invite-friends">
            <h3>Convidar Amigos</h3>
        </div>
    </div>
</div>